.drinks {
  padding: 1.5rem;
}
.drinks img {
  width: 300px;
  border-radius: 1rem;
  border: 1px solid;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--body_background);
  color: var(--body_color);
}
@media (max-width: 768px) {
  .drinks img {
    width: 400px;
  }
  .drinks {
    padding: 1rem;
    text-align: center;
  }
}
