.homepage img {
  border-radius: 1rem;
  width: 300px;
}
.homepage .list {
  display: flex;
  justify-content: center;
}
.homepage h2 {
  text-align: center;
}
.homepage .popular {
  padding: 1rem;
}
.homepage {
  background-color: var(--body_background);
  color: var(--body_color);
}
@media (max-width: 768px) {
  .homepage .popular img {
    width: 350px;
  }
  .homepage .list {
    display: block;
    text-align: center;
  }
}
